@font-face {
	font-family:Castoro-Regular;
	src:url(../../fonts/Castoro-Regular.ttf);
}
@font-face {
	font-family:Mulish-Variable;
	src:url(../../fonts/Mulish-VariableFont_wght.ttf);
}
@font-face {
	font-family:Mulish-Italic;
	src:url(../../fonts/Mulish-Italic-VariableFont_wght.ttf);
}
@font-face {
	font-family:Mulish-Bold;
	src:url(../../fonts/Mulish-Bold.ttf);
}
body, html, *
{
	padding: 0px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body, html {
	width: 100%;
	height: 100%;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, i, em
{
	font-weight: normal;
	font-style: normal;
}
body.block
{
	overflow:hidden;
}

/* ------------------------------------------------------------- */
/* ********************* CONTAINER GENERAL ********************* */
/* ------------------------------------------------------------- */

main
{
	position: relative;
	width: 100%;
}

/* ----------------------------------------------------------------- */
/* ********************* END CONTAINER GENERAL ********************* */
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* ********************* VARIABLES ********************* */
/* ----------------------------------------------------- */

/*==============================
=            COLORS            =
==============================*/

	/*----------  MAIN COLORS  ----------*/
	$colorMain_1: #FFB359; // YELLOW
	$colorMain_2: #1B4942; // GREEN
	$colorMain_3: #212121; // BLACK
	$colorMain_4: #535353; // GREY
	$colorMain_5: #D7D7D7; // GREY LIGHT
	$colorMain_6: #E8F0F6; // GREY
	$colorMain_7: #FDFAF5; // CREAM
	$colorMain_8: #FF4351; // RED


/*=====  End of COLORS  ======*/


/*=============================
=            FONTS            =
=============================*/

	$font_1_regular: Castoro-Regular;
	$font_2_regular: Mulish-Variable;
	$font_2_italic: Mulish-Italic;
	$font_2_bold: Mulish-Bold;

/*=====  End of FONTS  ======*/


/*=================================
=            TEXT SIZE            =
=================================*/

	/*----------  H1  ----------*/
		$h1_textsize_desktop: 56px;
		$h1_textsize_mobile: 40px;


	/*----------  H2  ----------*/
		$h2_textsize_desktop: 48px;
		$h2_textsize_mobile: 32px;


	/*----------  H3  ----------*/
		$h3_textsize_desktop: 32px;
		$h3_textsize_mobile: 28px;


	/*----------  H4  ----------*/
		$h4_textsize_desktop: 24px;
		$h4_textsize_mobile: 24px;


	/*----------  H5  ----------*/
		$h5_textsize_desktop: 18px;
		$h5_textsize_mobile: 18px;



	/*----------  PARAGRAPH BIG  ----------*/
		$paragraphBig_textsize_desktop: 18px;
		$paragraphBig_textsize_mobile: 18px;


	/*----------  PARAGRAPH NORMAL  ----------*/
		$paragraphNormal_textsize_desktop: 16px;
		$paragraphNormal_textsize_mobile: 16px;


	/*----------  PARAGRAPH SMALL  ----------*/
		$paragraphSmall_textsize_desktop: 14px;
		$paragraphSmall_textsize_mobile: 14px;


	/*----------  PARAGRAPH TINY  ----------*/
		$paragraphTiny_textsize_desktop: 11px;
		$paragraphTiny_textsize_mobile: 11px;


	/*----------  PARAGRAPH BIG  ----------*/
		$quote_textsize_desktop: 20px;
		$quote_textsize_mobile: 20px;


	/*----------  LINK  ----------*/
		$linkNormal_textsize_desktop: 16px;
		$linkSmall_textsize_desktop: 14px;

/*=====  End of TEXT SIZE  ======*/


/*============================
=            GRID            =
============================*/

	$grid_desktop_1: 1200px;
	$grid_desktop_2: 1100px;
	$grid_desktop_3: 1000px;
	$grid_desktop_4: 900px;

	$grid_tablet: 100%;
	$grid_mobile: 100%;

/*=====  End of GRID  ======*/


/*===================================
=            BREAK POINT            =
===================================*/

	$breakPoint_tablet: 1250px;
	$breakPoint_mobile: 700px;


/*=====  End of BREAK POINT  ======*/

/* --------------------------------------------------------- */
/* ********************* END VARIABLES ********************* */
/* --------------------------------------------------------- */

/* ------------------------------------------------- */
/* ********************* MIXIN ********************* */
/* ------------------------------------------------- */

	/*----------  FUNCTION  ----------*/
	/*
	@mixin rgba-background($hexcolor, $opacity) {
	  background-color: rgba($hexcolor, $opacity); 
	}*/

	/*----------  HEADING  ----------*/

		/*----------  H1  ----------*/
		@mixin styleH1{
			font-family: $font_1_regular;
		  	color: $colorMain_3;
		  	
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h1_textsize_desktop;
				$lineHeight: $h1_textsize_desktop * 1;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h1_textsize_mobile;
				$lineHeight: $h1_textsize_mobile * 1;
				line-height: $lineHeight;
			}
		}

		/*----------  H2  ----------*/
		@mixin styleH2{
			font-family: $font_1_regular;
		  	color: $colorMain_3;
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h2_textsize_desktop;
				$lineHeight: $h2_textsize_desktop * 1.2;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h2_textsize_mobile;
				$lineHeight: $h2_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}
		}

		/*----------  H3  ----------*/
		@mixin styleH3{
			font-family: $font_1_regular;
		  	color: $colorMain_3;
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h3_textsize_desktop;
				$lineHeight: $h3_textsize_desktop * 1.2;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h3_textsize_mobile;
				$lineHeight: $h3_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}
		}

		/*----------  H4  ----------*/
		@mixin styleH4{
			font-family: $font_1_regular;
		  	color: $colorMain_3;
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h4_textsize_desktop;
				$lineHeight: $h4_textsize_desktop * 1.2;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h4_textsize_mobile;
				$lineHeight: $h4_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}
		}

		/*----------  H5  ----------*/
		@mixin styleH5{
			font-family: $font_1_regular;
		  	color: $colorMain_3;
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h5_textsize_desktop;
				$lineHeight: $h5_textsize_desktop * 1.2;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h5_textsize_mobile;
				$lineHeight: $h5_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}
		}




		/*----------  PARAGRAPH BIG  ----------*/
		@mixin styleParagraphBig{
			font-family: $font_2_regular;
		  	color: $colorMain_4;
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $paragraphBig_textsize_desktop;
				$lineHeight: $paragraphBig_textsize_desktop * 1.4;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $paragraphBig_textsize_mobile;
				$lineHeight: $paragraphBig_textsize_mobile * 1.4;
				line-height: $lineHeight;
			}
		}

		/*----------  PARAGRAPH NORMAL  ----------*/
		@mixin styleParagraphNormal{
			font-family: $font_2_regular;
		  	color: $colorMain_4;
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $paragraphNormal_textsize_desktop;
				$lineHeight: $paragraphNormal_textsize_desktop * 1.4;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $paragraphNormal_textsize_mobile;
				$lineHeight: $paragraphNormal_textsize_mobile * 1.4;
				line-height: $lineHeight;
			}
		}

		/*----------  PARAGRAPH SMALL  ----------*/
		@mixin styleParagraphSmall{
			font-family: $font_2_regular;
		  	color: $colorMain_4;
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $paragraphSmall_textsize_desktop;
				$lineHeight: $paragraphSmall_textsize_desktop * 1.6;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $paragraphSmall_textsize_mobile;
				$lineHeight: $paragraphSmall_textsize_mobile * 1.6;
				line-height: $lineHeight;
			}
		}

		/*----------  PARAGRAPH TINY  ----------*/
		@mixin styleParagraphTiny{
			font-family: $font_2_regular;
		  	color: $colorMain_4;
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $paragraphTiny_textsize_desktop;
				$lineHeight: $paragraphTiny_textsize_desktop * 1.2;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $paragraphTiny_textsize_mobile;
				$lineHeight: $paragraphTiny_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}
		}

		/*----------  QUOTE  ----------*/
		@mixin styleQuote{
			font-family: $font_2_italic;
		  	color: $colorMain_4;
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $quote_textsize_desktop;
				$lineHeight: $quote_textsize_desktop * 1.8;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $quote_textsize_mobile;
				$lineHeight: $quote_textsize_mobile * 1.8;
				line-height: $lineHeight;
			}
		}


		/*----------  BUTTON  ----------*/
		@mixin styleButton($style, $arrow){
			border: none;
			cursor: pointer;
		  	padding: 15px 24px 15px 24px;
		  	border-radius: 70px;
		  	display: inline-flex;
		  	align-items: center;
		  	border: 1px solid transparent;
		  	text-decoration: none;
			.btn-text{
				@include styleParagraphBig;
				font-family: $font_2_bold;
			}
			.btn-arrow{
				fill: none;
				width: 16px;
			}

			@if $style == "1" {
				background-color: $colorMain_2;
				.btn-text{
					color: #FFF;
				}
				.btn-arrow{
					stroke: #FFF;
				}
			} @else if $style == "2" {
				background-color: $colorMain_3;
				.btn-text{
					color: #FFF;
				}
				.btn-arrow{
					stroke: #FFF;
				}
			} @else if $style == "3" {
				background-color: #FFF;
				border: 1px solid $colorMain_3;
				.btn-text{
					color: $colorMain_3;
				}
			} @else if $style == "4" {
				background-color: $colorMain_1;
				.btn-text{
					color: $colorMain_3;
				}
				.btn-arrow{
					stroke: $colorMain_3;
				}
			} @else if $style == "5" {
				border-color: #FFF;
				.btn-text{
					color: #FFF;
				}
				.btn-arrow{
					stroke: #FFF;
				}
			}

			@if $arrow == "right" {
				.btn-arrow{
					order: 2;
					margin-left: 12px;
				}
				
			} @else if $arrow == "left" {
				.btn-arrow{
					order: 1;
					margin-right: 12px;
				}
				
			} @else if $arrow == "none" {
				.btn-arrow{
					display: none;
				}
			}

		}

		/*----------  LINK  ----------*/
		@mixin styleLink($size){
			text-decoration: none;
			.link-text{
				font-family: $font_2_bold;
			}
			@if $size == "1" {
				.link-text{
					font-size: $linkNormal_textsize_desktop;
					line-height: $linkNormal_textsize_desktop;
				}
			} @else if $size == "2" {
				.link-text{
					font-size: $linkSmall_textsize_desktop;
					line-height: $linkSmall_textsize_desktop;
				}
			}

			&:hover{
				.link-text{
					text-decoration: underline;
				}
			}
		}

		/*----------  HILIGHT  ----------*/
		@mixin styleHilight{
			position: relative;
			&:after{
				position: absolute;
				bottom: -5px;
				width: 100%;
				left: 0px;
			}
		}


		/*----------  GRID  ----------*/

			/*----------  COMMON  ----------*/
			@mixin styleGrid-common{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

			/*----------  SIZE 1  ----------*/
			@mixin styleGrid1{
				@include styleGrid-common;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_1;
				}
			}

			/*----------  SIZE 2  ----------*/
			@mixin styleGrid2{
				@include styleGrid-common;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_2;
				}
			}

			/*----------  SIZE 3  ----------*/
			@mixin styleGrid3{
				@include styleGrid-common;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_3;
				}
			}

			/*----------  SIZE 4  ----------*/
			@mixin styleGrid4{
				@include styleGrid-common;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_4;
				}
			}



/* ----------------------------------------------------- */
/* ********************* END MIXIN ********************* */
/* ----------------------------------------------------- */



/* -------------------------------------------------- */
/* ********************* IMPORT ********************* */
/* -------------------------------------------------- */


@import 'header.scss';
@import 'footer.scss';


/* COMMON SECTION */
@import 'common-section-start.scss';

/* ------------------------------------------------------ */
/* ********************* END IMPORT ********************* */
/* ------------------------------------------------------ */