@import 'common.scss';


/*=====================================
=            PAGE DASHBOARD           =
=====================================*/

.container-lightbox {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	transition: all 1s ease;
	form {
		display: none;
	}
	&:not(.style-block) {
		display: none;
	}
	&.style-visible {
		background: rgba(0, 0, 0, 0.5);
	}
	.wrapper {
		width: 588px;
		background: #FFFFFF;
		border-radius: 24px;
		.lightbox {
			position:relative;
			padding: 72px 64px;
			.cross {
				cursor: pointer;
				position: absolute;
				top: 32px;
				right: 31px;
				width: 14px;
				height: 16px;
				transition: all 0.5s ease;
				&:hover {
					opacity: .5;
				}
			}
			h3 {
				@include styleH3;
				text-align: center;
			}
			p {
				margin-top: 9px;
				@include styleParagraphNormal;
				text-align: center;
			}
			.container-button {
				margin-top: 24px;
				.btn {
					&:first-child {
						@include styleButton('3', 'right');
						margin-right: 8px;
					}
					&:last-child {
						@include styleButton('6', 'right');
					}
				}
			}
			&:not(.style-active) {
				display: none;
			}
		}
	}
}

.section-dashboard{
	padding-top: 150px;
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
	}
	.container-sidebar{
		width: 202px;
		margin-right: 100px;
		.title{
			@include styleH4;
		}
		.container-tab{
			margin-top: 24px;
			list-style: none;
			.tab{
				cursor: pointer;
				
				border-radius: 4px;
				padding: 11px 24px 11px 24px;
				transition: all 0.25s ease;
				&:not(:last-child){
					margin-bottom: 6px;
				}
				a{
					text-decoration: none;
					@include styleParagraphNormal;
					color: $colorMain_3;
				}

				&:hover,
				&.style-active{
					background-color: $colorMain_6;
				}
			}
		}
	}
	.container-informations{
		flex: 1;
		section{
			.head{
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid $colorMain_5;
				padding-bottom: 24px;
				.title{
					flex: 1;
					@include styleH3;
				}
				.container-btn{
					.btn {
						&:not(.style-active) {
							display: none !important;
						}
						&:nth-child(1){
							@include styleButton("3", "none" );
						}
						&:nth-child(2){
							@include styleButton("4", "none" );
						}
					}
				}
			}
			&:not(:last-child){
				margin-bottom: 76px;
			}
			
		}
		.section-informations{
			.container-content{
				.content-save{
					&:not(.style-active) {
						display: none;
					}
					.container-el{
						.el{
							padding-top: 25px;
							&:not(:last-child){
								padding-bottom: 25px;
								border-bottom: 1px solid $colorMain_5;
							}
							
							ul{
								list-style: none;
								li{
									display: flex;
									flex-flow: row wrap;
									&:not(:last-child){
										margin-bottom: 9px;
									}
									.title{
										min-width: 200px;
										@include styleParagraphSmall;
									}
									.text{
										@include styleParagraphNormal;
										color: $colorMain_3;
									}
								}
							}
						}
					}
				}
			}
			.content-edit{
				&:not(.style-active) {
					display: none;
				}
				.container-el{
					.el{
						padding: 48px 0px 48px 0px;
						&:not(:last-child){
							border-bottom: 1px solid $colorMain_5;
						}
						.title{
							@include styleH5;
							margin-bottom: 24px;
						}
						.container-input{
							display: flex;
							flex-flow: row wrap;
							justify-content: space-between;
							.input{
								position: relative;
								width: 100%;
								margin-top: 16px;
								display: flex;
								flex-flow: row wrap;
								align-items: center;
								input,
								#cardNumber-element, #cardExpiry-element, #cardCvc-element {
									padding: 0px 25px 0px 25px;
									width: 100%;
									height: 50px;
									border-radius: 70px;
									border: 1px solid $colorMain_5;
									outline: none;
									transition: all 0.25s ease;

									@include styleParagraphSmall;
									&::placeholder{
										color: $colorMain_4;
									}
									&:focus{
										border-color: $colorMain_4;
									}
								}
								#cardNumber-element, #cardExpiry-element, #cardCvc-element {
									.__PrivateStripeElement {
										display: flex;
										align-items: center;
										height: 100%;
									}
								}
								.error{
									visibility: hidden;
									position: absolute;
									right: 24px;
									top: 50%;
									transform: translateY(-50%);
									@include styleParagraphTiny;
									color: $colorMain_8;
								}

								&.style-error{
									input, #cardNumber-element, #cardExpiry-element, #cardCvc-element {
										border-color: $colorMain_8;
									}
									.error{
										visibility: visible;
									}
								}
							}
							.wrap-input{
								width: calc(50% - 8px);
							}
						}

						&[data-info='perso']{
							.wrap-input{
								&:nth-child(5){
									display: flex;
									flex-flow: row wrap;
									justify-content: space-between;
									.input{
										width: calc(50% - 8px);
									}
								}
							}
						}
						&[data-info='securite']{
							
						}
						&[data-info='paiement']{
							.wrap-input{
								&:nth-child(3){
									display: flex;
									flex-flow: row wrap;
									justify-content: space-between;
									.input{
										width: calc(50% - 8px);
									}
								}
							}
							
						}
						&[data-info='pro']{
							.wrap-input{
								&:nth-child(5){
									display: flex;
									flex-flow: row wrap;
									justify-content: space-between;
									.input{
										width: calc(50% - 8px);
									}
								}
							}
							
						}
					}
				}
			}
		}
		.section-bill{
			ul{
				li{
					padding: 16px 0px 16px 0px;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid $colorMain_5;
					.num{
						@include styleParagraphSmall;
					}
					.month{
						@include styleParagraphNormal;
						color: $colorMain_3;
					}
					.date{
						@include styleParagraphNormal;
						color: $colorMain_3;
					}
					.link{
						display: inline-flex;
						flex-wrap: wrap;
						align-items: center;
						@include styleLink("1");
						.link-icn{
							width: 14px;
						}
						.link-text{
							margin-left: 8px;
						}
					}
				}
			}
		}
		.section-subscribe{
			ul{
				li{
					padding: 16px 0px 16px 0px;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid $colorMain_5;
					.type,
					.date,
					.month,
					.price{
						@include styleParagraphNormal;
						color: $colorMain_3;
					}
					.link{
						cursor: pointer;
						@include styleLink("1");
						.link-text {
							color: $colorMain_8;
						}
					}
				}
			}
		}
		.section-account{
			padding-bottom: 72px;
			ul{
				li{
					padding: 16px 0px 16px 0px;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid $colorMain_5;
					.name,
					.email{
						@include styleParagraphNormal;
						color: $colorMain_3;
					}
					.link{
						cursor: pointer;
						@include styleLink("1");
						.link-text {
							color: $colorMain_8;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
	.section-dashboard{
		.container-sidebar{
			margin-right: 50px;
		}
	}
}
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet) and (orientation: portrait){
	.section-dashboard{
		.container-sidebar{
			display: none;
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.container-lightbox {
		.wrapper {
			width: calc(100% - 50px);
			.lightbox {
				padding: 56px 25px;
				.container-button {
					display: flex;
					flex-direction: column;
					align-items: center;
					.btn {
						&:first-child {
							margin-right: 0;
							margin-bottom: 12px;
						}
					}
				}
			}
		}
	}
	.section-dashboard{
		.container-sidebar{
			display: none;
		}
		.container-informations{
			width: 100%;
			section{
				.head{
					flex-flow: initial;
					.title{
						margin-right: 40px;
					}
					.container-btn{
						text-align: right;
					}
				}
			}
			.section-informations{
				.content-edit{
					.container-el{
						.el{
							.container-input{
								.wrap-input{
									width: 100%;
								}
							}
						}
					}
				}
				.container-content{
					.content-save{
						.container-el{
							.el{
								ul{
									li{
										.title{
											width: 100%;
										}
										.text{
											width: 100%;
										}
										&:not(:last-child){
											margin-bottom: 15px;
										}
									}
								}
							}
						}
					}
				}
			}
			.section-bill{
				ul{
					li{
						.link{
							.link-text{
								display: none;
							}
						}
					}
				}
			}
			.section-subscribe{
				ul{
					
					li{
						flex-direction: column;
						align-items: flex-start;	
						.type,
						.date,
						.month,
						.price{
							margin-bottom: 8px;	
						}
						.link{
							width: 100%;
							text-align: right;
						}
					}
				}
			}
			.section-account{
				
				ul{
					li{
						flex-direction: column;
						align-items: flex-start;
						.name,
						.email{
							margin-bottom: 8px;
						}
						.link{
							width: 100%;
							text-align: right;
						}
					}
				}
			}
		}
	}
}
/*=========================================
=            END PAGE DASHBOARD           =
=========================================*/