header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: $colorMain_2;

	z-index: 1;
	.wrapper{
		@include styleGrid1;
		height: 80px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}
	.logo{
		img{
			height: 32px;
		}
	}
	.container-action{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		.signin{
			margin-right: 24px;
			text-decoration: none;
			svg{
				width: 14px;
				stroke: #FFF;
				fill: none;
			}
			.text{
				@include styleLink("1");
				.link-text{
					color: #FFF;
				}
			}
		}
		.start{
			@include styleButton("5", "right" );
		}
	}
	.container-account {
		position: relative;
		.name {
			display: flex;
			align-items: center;
			span {
				@include styleH5;
				color: $colorMain_7;
			}
			img {
				margin-left: 8px;
				width: 9px;
				height: 5px;
			}
		}
		.dropdown {
			display: none;
			&:hover {
				display: block;
			}
			position: absolute;
			left: -20px;
			padding: 20px;
			background-color: $colorMain_2;
			li {
				list-style: none;
				&:not(:last-child) {
					margin-bottom: 10px;
				}
				a {
					text-decoration: none;
					@include styleParagraphNormal;
					color: $colorMain_7;
				}
			}
		}
		.name:hover {
			&+ .dropdown {
				display: block;
			}
		}
	}
}

@media screen and (max-width: $breakPoint_mobile){
	header{
		display: none;
	}
}